<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h2>Company Home Page</h2>
<hr>
<p>Welcome to the company home</p>
<hr>
<p>User: <span sec:authentication="principal.username"></span>
    <br>
    Roles(s): <span sec:authentication="principal.authorities"></span>
</p>
<div sec:authorize="hasRole('MANAGER')">
    <p>
        <a th:href="@{/leaders}">Leadership meeting</a>
        (Only for Managers)
    </p>
</div>
<div sec:authorize="hasRole('ADMIN')">
    <p>
        <a th:href="@{/systems}">IT Systems meeting</a>
        (Only for Admins)
    </p>
</div>

<hr>

<form action="#" th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
</body>

</html>